streamlit
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langchain-huggingface
langgraph
faiss-cpu
sentence-transformers
huggingface_hub
torch
transformers
requests
ddgs
pypdf
python-dotenv
pydantic
numpy
rank-bm25